header h1 {
  background-color:black;
  color: whitesmoke;
  margin: 0px;
  display: flex;
  justify-content: center;
  padding:20px;
}

body {
  padding: 0px;
  margin: 0px;
}

.searchBar{
  display: flex;
  justify-content: center;
  background-color: gray;
  padding: 10px;
}

.filterSection {
  display:flex;
  justify-content:center;
  background-color: lightgray;
}

.thePage{
  display: flex;
  justify-content: center;
}